@use 'base/variables' as v;

.alerta {
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: v.$bold;
    border-radius: .5rem;

    &.error {
        background-color: lighten(v.$rojo, 20%);
        border-left: .5rem solid v.$blanco;
        color: v.$blanco;
    }

    &.exito {
        background-color: lighten(v.$verde, 40%);
        border-left: .5rem solid v.$verde;
        color: darken(v.$verde, 20);
    }
}